
.titulo1 {

    font-family: Castellar;
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FC0000;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
    border: 9px inset #D02020;
}

.fondo1 {
    background: #24282B;
}
.borde1 {

    border: 9px inset #D02020;
}
.sombra1:hover {
    -webkit-box-shadow: 6px 3px 6px 9px #D60B00; 
box-shadow: 6px 3px 6px 9px #D60B00;
}

.fondo2 {
    background-color: #fff;
}

.texto2 {

font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 15px;
letter-spacing: 0px;
word-spacing: -1px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
}

.texto3
{
    text-align: center;
    color:#000000;
    font-size: 30px;

    
}
.texto4 {
    color: #FC0000;
    text-align: center;
    font-family: Castellar;
    border: 9px inset #D02020;
}

.botone {
    color: #fdfdfd;
    background-color: #FC0000;
    border: 9px inset #D02020;
    font-family: Castellar;
}